<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Guild Wars 2 Ley Line</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="css/style.css"/>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic" rel="stylesheet" type="text/css">

</head>
<body>


<div class="sectionTitle">
    <h1 class="pageTitle"> The Game </h1>
</div>

<section class="sectionTyria features">
    <div class="row">
        <div class="col large-12">
            <h2> "By Raven, there's no end to Tyria!" </h2>
            <p class="tyriaDesc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum hic illum minus mollitia necessitatibus neque odit pariatur.</p>
        </div>

        <div class="row">
            <div class="columns large-3 panel">
                <i class="ion-ios-people-outline columns small-12"></i>
                <h3 class="featuresTitle"> Massively Multiplayer </h3>
                <p class="featuresText">Play with people from around the world. Make friends form guilds, chat, trade and battle with thousands of others who share the same passion</p>
            </div>

            <div class="columns large-3 panel">
                <i class="ion-ios-book-outline columns small-12"></i>
                <h3 class="featuresTitle"> progressive Storyline </h3>
                <p class="featuresText"> Set 247 years after the events of Guild Wars 1 and its expansions, Guild Wars 2 continues the epic tale of the fight against the feared Elder Dragons </p>
            </div>

            <div class="columns large-3 panel">
                <i class="ion-ios-world-outline columns small-12"></i>
                <h3 class="featuresTitle"> Living World content </h3>
                <p class="featuresText"> Experience the story of Guild Wars 2 with in the personal story. Experience seasonal, episodic content which will shape the world of Tyria</p>
            </div>

            <div class="columns large-3 panel">
                <i class="ion-ios-cart-outline columns small-12"></i>
                <h3 class="featuresTitle"> No Subscription Fees </h3>
                <p class="featuresText"> Buy once to play model means no subscription fees, so you only pay for the things you want, like wings and fluffy quaggan back skins! </p>
            </div>
        </div>
    </div>
</section>

<div class="sectionTitle">
    <h1 class="pageTitle"> Races of Tyria </h1>
</div>

<section class="sectionTyria">
    <div class="row">
        <div>
            <h2> "This rose has thorns and here they are!" </h2>
            <p class="tyriaDesc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam hic perferendis sit. Aperiam cum, deserunt dolor dolorum earum exercitationem facere hic labore nam obcaecati!</p><br>
        </div>
    </div>

    <div class="row">
        <div class="large-6 medium-6 small-12 columns">
            <img class="raceimg" src="css/images/human.jpg" alt="">
        </div>
        <div class="large-6 medium-6 small-12 columns">
            <h3 class="raceTitle"> Human</h3><br>
            <p class="raceText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquid animi deserunt dolor, et fuga illum incidunt iste laborum nisi nobis odio perspiciatis placeat quae quas repellat repellendus velit. Debitis deleniti, eius fugiat hic impedit modi officia perferendis praesentium! Eos eveniet perspiciatis praesentium quos recusandae sit temporibus veritatis? Aspernatur at atque distinctio earum eos facilis hic impedit labore maiores, nemo nihil placeat saepe sit tempore totam ullam vero vitae.</p>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="large-6 medium-6 small-12 centered columns">
            <img class="raceimg" src="css/images/norn.jpg" alt="">
        </div>
        <div class="large-6 medium-6 small-12 columns">
            <h3 class="raceTitle"> Norn</h3><br>
            <p class="raceText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus enim esse est et modi neque nulla quaerat totam. Amet aut dicta dolore doloremque ea eaque error est fugiat illum itaque molestias nobis officia provident rerum, tempore unde vel velit veniam veritatis vero! Ab aliquid, at dignissimos, doloremque dolores earum est explicabo fuga labore libero quasi rem repudiandae sapiente similique ullam. Amet eius fugiat laboriosam non placeat reiciendis sapiente sunt veniam!</p>
        </div>
    </div>


    <div class="row">
        <div class="large-6 medium-6 small-12 columns">
            <img class="raceimg" src="css/images/charr.jpg" alt="">
        </div>
        <div class="large-6 medium-6 small-12 columns">
            <h3 class="raceTitle"> Charr</h3><br>
            <p class="raceText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto asperiores aspernatur delectus ea esse excepturi expedita, fugit illum in ipsa ipsam ipsum labore laboriosam molestias obcaecati odit omnis praesentium quas sapiente sed tempora tenetur vero! Aperiam dolore, exercitationem fugit iure magnam quam recusandae ut vel! Assumenda eligendi facilis fugit nobis obcaecati placeat ratione repellat. At eum fugit, harum itaque iure, neque nihil nostrum odio quas repellat reprehenderit temporibus, voluptates!</p>
        </div>
    </div>

    <div class="row">
        <div class="large-6 medium-6 small-12 columns">
            <img class="raceimg" src="css/images/sylvari.jpg" alt="">
        </div>
        <div class="large-6 medium-6 small-12 columns">
            <h3 class="raceTitle"> Sylvari</h3><br>
            <p class="raceText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem consectetur, cum labore natus neque repellendus! Asperiores molestias quaerat tempora! Accusamus culpa dolores doloribus molestias repudiandae tempore voluptate! Ab accusantium aspernatur blanditiis consequatur consequuntur, culpa cumque dignissimos dolores ducimus, earum harum ipsum libero magni molestiae mollitia nam necessitatibus nemo non optio possimus praesentium provident qui repellat repellendus rerum sequi vel veniam veritatis voluptate voluptatum? Enim labore maxime molestias natus porro.</p>
        </div>
    </div>


    <div class="row">
        <div class="large-6 medium-6 small-12 columns">
            <img class="raceimg" src="css/images/asura.jpg" alt="">
        </div>
        <div class="large-6 medium-6 small-12 columns">
            <h3 class="raceTitle"> Asura</h3><br>
            <p class="raceText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ducimus eos non praesentium quae quia recusandae, reprehenderit sequi. Asperiores distinctio doloremque eius illo laudantium magni pariatur, quisquam tenetur unde? A corporis cumque cupiditate doloribus, laboriosam qui quia rem? Excepturi necessitatibus nobis quibusdam soluta voluptatibus. Ad amet, consequatur dicta distinctio ea esse inventore molestiae mollitia nam nemo nisi non placeat, sapiente temporibus velit! Architecto eligendi et, inventore itaque libero officia sunt.</p>
        </div>
    </div>
</section>

<div class="sectionTitle">
    <h1 class="pageTitle"> Professions </h1>
</div>

<section class="sectionTyria">
    <div class="row">
        <div>
            <h2> "Arise, my brainless, arise!" </h2>
            <p class="tyriaDesc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam hic perferendis sit. Aperiam cum, deserunt dolor dolorum earum exercitationem facere hic labore nam obcaecati!</p><br>
        </div>
    </div>

    <div class="row professionlogo">
        <div class="row">
            <div class=" a large-4 medium-4 small-4 columns prof"><img src="css/images/Elementalist.png" alt=""></div>
            <div class="large-4 medium-4 small-4 columns prof"><img src=css/images/Mesmer.png alt=""></div>
            <div class="large-4 medium-4 small-4 columns prof"><img src="css/images/Necro.png" alt=""></div>
        </div>
        <div class="row">
            <div class="large-4 medium-4 small-4 columns prof"><img src="css/images/Engineer.png" alt=""></div>
            <div class="large-4 medium-4 small-4 columns prof"><img src="css/images/Ranger.png" alt=""></div>
            <div class="large-4 medium-4 small-4 columns prof"><img src="css/images/Thief.png" alt=""></div>
        </div>
        <div class="row">
            <div class="large-4 medium-4 small-4 columns prof"><img src="css/images/Guardian.png" alt=""></div>
            <div class="large-4 medium-4 small-4 columns prof"><img src="css/images/Revenant.png" alt=""></div>
            <div class="large-4 medium-4 small-4 columns prof"><img src="css/images/Warrior.png" alt=""></div>
        </div>

        <p class="professionText"> hover over the images above to learn more about professions in the game </p>
     </div>

    <script>
        $('.a').hover(function(){
            $('.professionText').text("I AM AN ELEMENTALIST!!");
        }, function() {
            $('.professionText').text("hover over the images above to learn more about the professions in the game");
        });
    </script>

    <div class="sectionTitle">
        <h1 class="pageTitle"> END </h1>
    </div>

</section>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/foundation/js/foundation.min.js"></script>
        <script src="js/app.js"></script>
</body>
</html>







<!--<div class="row panel">-->
<!--<div class="raceimg human large-2 medium-2 large-offset-1 columns " ><img src="css/images/human.jpg" alt=""></div>-->
<!--<div class="raceimg norn large-2 medium-2 columns"><img src="css/images/norn.jpg" alt=""></div>-->
<!--<div class="raceimg charr large-2 medium-2 columns"><img src="css/images/charr.jpg" alt=""></div>-->
<!--<div class="raceimg sylvari large-2 medium-2 columns"><img src="css/images/sylvari.jpg" alt=""></div>-->
<!--<div class="raceimg asura large-2 medium-2 columns end"><img src="css/images/asura.jpg" alt=""></div>-->
<!--</div>-->
<!--</div>-->
<!--<p class="raceText">hover over the images above to learn more about the races of Tyria</p>-->
<!--</section>-->

<!--<script>-->
<!--$('.human').hover(function(){-->
<!--$('.raceText').text("I'm a human!");-->
<!--}, function() {-->
<!--$('.raceText').text("hover over the images above to learn more about the races of Tyria");-->
<!--});-->

<!--</script>-->
