<!DOCTYPE html>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Guild Wars 2 Ley Line</title>
    <link rel="stylesheet" href="/stylesheets/app.css"/>
    <link rel="stylesheet" href="/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/modernizr/src/Modernizr.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic" rel="stylesheet" type="text/css">

</head>
<body>
<div>
    <iframe id="player" width="1920" height="1080"
            src="https://www.youtube.com/embed/Em0Sd60iI2w?start=9&controls=0&autoplay=1&showinfo=0&html5=1"
            frameborder="0"></iframe>
</div>

<div class="sectionTitle">
    <h1 class="pageTitle"> The Game </h1>
</div>

<section class="sectionTyria features">
    <div class="row">
        <div class="col large-12">
            <h2> "By Raven, there's no end to Tyria!" </h2>
            <p class="tyriaDesc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum hic illum minus mollitia necessitatibus neque odit pariatur.</p>
        </div>

        <div class="row">
            <div class="columns large-3 panel">
                <i class="ion-ios-people-outline columns small-12"></i>
                <h3 class="featuresTitle"> Massively Multiplayer </h3>
                <p class="featuresText">Play with people from around the world. Make friends form guilds, chat, trade and battle with thousands of others who share the same passion</p>
            </div>

            <div class="columns large-3 panel">
                <i class="ion-ios-book-outline columns small-12"></i>
                <h3 class="featuresTitle"> progressive Storyline </h3>
                <p class="featuresText"> Set 247 years after the events of Guild Wars 1 and its expansions, Guild Wars 2 continues the epic tale of the fight against the feared Elder Dragons </p>
            </div>

            <div class="columns large-3 panel">
                <i class="ion-ios-world-outline columns small-12"></i>
                <h3 class="featuresTitle"> Living World content </h3>
                <p class="featuresText"> Experience the story of Guild Wars 2 with in the personal story. Experience seasonal, episodic content which will shape the world of Tyria</p>
            </div>

            <div class="columns large-3 panel">
                <i class="ion-ios-cart-outline columns small-12"></i>
                <h3 class="featuresTitle"> No Subscription Fees </h3>
                <p class="featuresText"> Buy once to play model means no subscription fees, so you only pay for the things you want, like wings and fluffy quaggan back skins! </p>
            </div>
        </div>
    </div>
</section>

<div class="sectionTitle">
    <h1 class="pageTitle"> Races of Tyria </h1>
</div>

<section class="sectionTyria">
    <div class="row">
        <div>
            <h2> "This rose has thorns and here they are!" </h2>
            <p class="tyriaDesc"> Among the many races that inhabit Tyria, five in particular exist as the most influential. These are the playable races of Guild Wars 2, each with their own home region, storyline, armour and weapon sets</p><br>
        </div>
    </div>

    <div class="row fullWidth">
        <div class="race small-12 medium-2 large-2 medium-offset-1 large-offset-1 columns"><img src="/stylesheets/images/human.jpg" alt="" class="raceimg"></div>
        <div class="race small-12 medium-2 large-2 columns"><img src="/stylesheets/images/norn.jpg" alt="" class="raceimg"></div>
        <div class="race small-12 medium-2 large-2 columns"><img src="/stylesheets/images/charr.jpg" alt="" class="raceimg"></div>
        <div class="race small-12 medium-2 large-2 columns"><img src="/stylesheets/images/sylvari.jpg" alt="" class="raceimg"></div>
        <div class="race small-12 medium-2 large-2 columns end"><img src="/stylesheets/images/asura.jpg" alt="" class="raceimg"></div>
    </div>

</section>

<div class="sectionTitle">
    <h1 class="pageTitle"> Professions </h1>
</div>

<section class="sectionTyria">
    <div class="row">
        <div>
            <h2> "Arise, my brainless, arise!" </h2>
            <p class="tyriaDesc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam hic perferendis sit. Aperiam cum, deserunt dolor dolorum earum exercitationem facere hic labore nam obcaecati!</p><br>
        </div>
    </div>

    <div class="row professionlogo">
        <div class="row">
            <div class=" large-4 medium-4 small-4 columns prof"><img src="/stylesheets/images/Elementalist.png" alt=""></div>
            <div class="large-4 medium-4 small-4 columns prof"><img src=/stylesheets/images/Mesmer.png alt=""></div>
            <div class="large-4 medium-4 small-4 columns prof"><img src="/stylesheets/images/Necro.png" alt=""></div>
        </div>
        <div class="row">
            <div class="large-4 medium-4 small-4 columns prof"><img src="/stylesheets/images/Engineer.png" alt=""></div>
            <div class="large-4 medium-4 small-4 columns prof"><img src="/stylesheets/images/Ranger.png" alt=""></div>
            <div class="large-4 medium-4 small-4 columns prof"><img src="/stylesheets/images/Thief.png" alt=""></div>
        </div>
        <div class="row">
            <div class="large-4 medium-4 small-4 columns prof"><img src="/stylesheets/images/Guardian.png" alt=""></div>
            <div class="large-4 medium-4 small-4 columns prof"><img src="/stylesheets/images/Revenant.png" alt=""></div>
            <div class="large-4 medium-4 small-4 columns prof"><img src="/stylesheets/images/Warrior.png" alt=""></div>
        </div>

        <p class="professionText"> hover over the images above to learn more about professions in the game </p>
    </div>


    <div class="sectionTitle">
        <h1 class="pageTitle"> END </h1>
    </div>

</section>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/foundation-sites/dist/foundation.min.js"></script>
<script src="/js/app.js"></script>


<script type="text/javascript">
//    $(function(){
//        $('').on(appear, function(){
//            $(this).addClass(animated fadeIn);
//        });
//    });

var player =  iframe.getElementById('player');
player.mute();

</script>

</body>
</html>







<!--<div class="row panel">-->
<!--<div class="raceimg human large-2 medium-2 large-offset-1 columns " ><img src="css/images/human.jpg" alt=""></div>-->
<!--<div class="raceimg norn large-2 medium-2 columns"><img src="css/images/norn.jpg" alt=""></div>-->
<!--<div class="raceimg charr large-2 medium-2 columns"><img src="css/images/charr.jpg" alt=""></div>-->
<!--<div class="raceimg sylvari large-2 medium-2 columns"><img src="css/images/sylvari.jpg" alt=""></div>-->
<!--<div class="raceimg asura large-2 medium-2 columns end"><img src="css/images/asura.jpg" alt=""></div>-->
<!--</div>-->
<!--</div>-->
<!--<p class="raceText">hover over the images above to learn more about the races of Tyria</p>-->
<!--</section>-->

<!--<script>-->
<!--$('.human').hover(function(){-->
<!--$('.raceText').text("I'm a human!");-->
<!--}, function() {-->
<!--$('.raceText').text("hover over the images above to learn more about the races of Tyria");-->
<!--});-->

<!--</script>-->
