<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Guild Wars 2 Ley Line</title>
    <link rel="stylesheet" href="/stylesheets/app.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
    <script src="/bower_components/modernizr/src/Modernizr.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic" rel="stylesheet" type="text/css">
</head>
<body>


<form action="submit.php" method="post" class="login">
    <input type="text" placeholder="Username" name="user" class="loginInput">
    <input type="password" placeholder="Password" name="password" class="loginInput">
    <i class="ion-ios-arrow-thin-right submit" type="submit"></i>
    <i class="ion-ios-compose-outline submit" type="submit"></i>  <!--NAVIGATE TO REGISTER? SLIDE IN DIV? -->
</form>


<div class="home">
</div>
<ul id="scene">
    <a href="#">
        <li class="layer" data-depth="0.40">
            <img src="/stylesheets/images/hotlogo.png" class="heroImg" class="columns small-12 medium-12 large-12" class="pulse">
        </li>
    </a>
</ul>

<!--<li class="layer" data-depth="0.00"><img src="layer1.png"></li>-->


<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/foundation-sites/dist/foundation.min.js"></script>
<script src="/public/js/app.js"></script>
</body>
</html>
