<!DOCTYPE html>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'
      xmlns="http://www.w3.org/1999/html"/>
<html lang="en">
<head>
</head>
<body>
<div class="ApiHome">
    <a href="/" class="button">home</a>
    <h1 class = "apiTitle"> My GW2</h1>
    <div class="row apiTabs">
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Account</a></li>
            <li class="tabs-title"><a href="#panel2">Character</a></li>
        </ul>
        <div class="flipContainer" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <div class="row apiRow">
                    <div class="large-3 columns">
                        <div class="row">
                            <ul>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.1s">
                                    <p class="cardText" id="name"></p>
                                </div>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.3s">
                                    <p class="cardText" id="created"></p>
                                </div>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.4s">
                                    <p class="cardText" id="accessType"></p>
                                </div>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <p class="cardText" id="commander"></p>
                                </div>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.6s">
                                    <p class="cardText" id="fractalLevel"></p>
                                </div>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.7s">
                                    <p class="cardText" id="wvwrank"></p>
                                </div>
                                <div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs-panel" id="panel2">
                <div class="button" onclick="incadd()"></div>
                <div class="row apiRow">
                    <div class="large-3 columns">
                        <div class="row">
                            <ul>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.1s">
                                    <p class="cardText" id="apiName"></p>
                                </div>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.2s">
                                    <p class="cardText" id="apiGen"></p>
                                </div>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.3s">
                                    <p class="cardText" id="apiRace"></p>
                                </div>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.4s">
                                    <p class="cardText" id="apiProf"></p>
                                </div>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <p class="cardText" id="apiLev"></p>
                                </div>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.6s">
                                    <p class="cardText" id="apiAge"></p>
                                </div>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.7s">
                                    <p class="cardText" id="apiCreate"></p>
                                </div>
                                <div class="wow fadeInUp large-12 medium-12 small-12 columns card" data-wow-duration="1s" data-wow-delay="0.8s">
                                    <p class="cardText" id="apiDeath"></p>
                                </div>
                                <div></div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="button" onclick="incsub()"></div>
            </div>
        </div>
        <script>
            var inc =0;
            function incadd(){
                inc = inc + 1;
                $('#thisdiv').load(document.URL +  'tabs-panel');
            }
            function incsub(){
                inc = inc - 1;
                $('#thisdiv').load(document.URL +  'tabs-panel');
            }
            var ep = gw2Api.endpoints.characters.url, params = ep.getParameters();
            params.lang = 'en';     //set language
            params.page = 0;        //set page; in this case, a page refers to a character. page = 0 means all characters
            params.pageSize = 0;    //size of page determines how many pages (i.e. characters) show up.
            params.token = '{{user.apiKey}}'; //API key
            ep.get(params).then(function(response){
                var data, headers;
                data = response.data;
                headers = response.headers;
                var string = data[0].created;
                var length = 10;
                var trimmedString = string.substring(0, length);
                document.getElementById('apiName').innerHTML = data[0].name;
                document.getElementById('apiGen').innerHTML =  data[0].gender;
                document.getElementById('apiRace').innerHTML = data[0].race;
                document.getElementById('apiProf').innerHTML = data[0].profession;
                document.getElementById('apiLev').innerHTML =  "level " + data[0].level;
                document.getElementById('apiAge').innerHTML = parseInt((data[0].age/3600), 10) + " hours played";
                document.getElementById('apiCreate').innerHTML = "born " + trimmedString;
                document.getElementById('apiDeath').innerHTML =  "fainted " + data[0].deaths + " times";
                $('apiOut').jPut({
                    ajax_url:ep,//ajax:Specifies the URL to send the request to. Default is the current page
                    done:function(e){
                        //on success (e will be the json data)
                    },
                    error:function(msg){
                        alert('Error Message:'+msg);    //On error
                    }
                });
            });
            var epS = gw2Api.endpoints.account.url,
                    paramsS = epS.getParameters();
            params.lang = 'en';
            params.page = 1;
            params.pageSize = 0;
            params.token = '{{user.apiKey}}';
            epS.get(params).then(function(response){
                var data, headers;
                data = response.data;
                headers = response.headers;
                var string = data.created;
                var length = 10;
                var trimmedString = string.substring(0, length);
                document.getElementById('name').innerHTML = data.name;
                document.getElementById('created').innerHTML = "Created: " + trimmedString;
                document.getElementById('accessType').innerHTML = "Account: " + data.access;
                document.getElementById('commander').innerHTML =  "commander: " + data.commander;
                document.getElementById('fractalLevel').innerHTML = "Fractal Level: " + data.fractal_level;
                document.getElementById('wvwrank').innerHTML = "WvW level: " + data.wvw_rank;
            });
        </script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/foundation-sites/dist/foundation.min.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/scroll.js"></script>
        <script src="/js/wow.js"></script>
        <script>
            $(document).ready(function () {
                $(document).foundation();
            });
            function flip() {
                $('.card').toggleClass('flipped');
            }
            $(function () {
                new WOW().init();
            })
        </script>
</body>
</html>
