*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: #fff;
    max-width: 1920px;
	color: #60AE34;
	font-family: 'Raleway', 'Arial', sans-serif;
	text-rendering: optimizeLegibility;
    /*overflow: -moz-scrollbars-none;*/
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
}

::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/*media query for MEDIUM SCREEN SIZES*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    html{
        padding-left: 10px;
        padding-right: 10px;
    }
}


/*media query for SMALL SCREEN SIZES*/
@media screen and (max-width: 39.9375em) {
    html{
        padding-left: 10px;
        padding-right: 10px;
    }
}

/**************************************************************************
==============================  TEXT  =====================================
***************************************************************************/

h1, h2, h3, h4, p {
    margin: 0;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: 300;
}

h2{
    font-size: 50px;
    font-weight: 300!important;
}

h3{
    font-size: 30px;
    padding-bottom: 30px;
    font-weight: 300!important;
}

p{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300!important;
}

/**************************************************************************
=============================  HEADER  ====================================
***************************************************************************/
.home{
    /*background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/thornsbg.png") no-repeat center center fixed;*/
    background: url("images/thornsbg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    height: 100vh;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}


/**************************************************************************
========================  REUSABLE CONTENT  ===============================
***************************************************************************/

i{
    color: #C41907;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}


/*******************************************
================  HERO IMG  ================
********************************************/

img.heroImg{
    position: absolute;
    max-width: 30%;
    min-width: 30%;
    top: 10%;
    left: 10%;
    z-index: 3;
    opacity: 1.0;
}

img.heroImg:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


@media screen and (orientation: portrait) {
    img.heroImg { max-width: 90%; }
}

@media screen and (orientation: landscape) {
    img.heroImg { max-height: 90%; }
}

/****************************************
================  LOGIN  ================
*****************************************/
p.loggedInAs{
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    color: rgba(187,244,113,1.0);
}

.login{
    position: absolute;
    display: block;
    float: right;
    max-width: 600px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    margin-right: 30px;
    z-index: 3;
    background: rgba(255,255,255,0.0);
    border-radius: 3px;
    opacity: 1.0;
}

.login .loginInput, input.formControl{
    display: inline;
    width: 170px;
    height: 30px;
    background: transparent;
    border-bottom: 2px solid rgba(255,255,255,0.6);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: rgba(255,255,255,1.0);
    font-family: Raleway, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-right: 0;
    box-shadow: none;
    z-index: 3;
    opacity: 1.0;
}

.login > input[placeholder="text"] {color:black}

.login .loginInput:focus{
    background: transparent;
    border-bottom: 3px solid rgba(187,244,113,1.0);
}

.login .submit{
    cursor: pointer;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
}

.login > i{
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

.button{
    background: transparent;
    font-family: Raleway, Arial, sans-serif;
}

.button:hover{
    background-color:rgba(255,255,255,0.2);
}

.alert-danger{
    /*position: absolute;*/
    /*top:15%;*/
    /*left:1%;*/
    z-index: 1000;
    color: #ff000b;
    font-weight: 400;
    padding: 5px;
}

/*media query for MEDIUM SCREEN SIZES*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .alert-danger{
        top:20%;
        left:2%;
    }
}


/*media query for SMALL SCREEN SIZES*/
@media screen and (max-width: 39.9375em) {
    .alert-danger{
        top:20%;
        left:2%;
    }
}

.myGW2{
    font-family: Raleway, Arial, sans-serif;
    font-weight: 300;
    font-size: 5em;
    position: relative;
    bottom: 20%;

}

.revealS{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("images/zhaitan.jpg") no-repeat center center fixed;
    width: 20em;
    height: 30em;
}

.revealG{
    background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0));
    position: absolute;
    z-index: 9000;
}


.reveal h2{
    color: #fff;
    padding-bottom: 10px;
}

div.reveal div.authForm{
    width: 10em;
}


.playerbutton{
    cursor:pointer;
    border:none;
    background:transparent;
    outline:none;
    display:inline;
    /*position: absolute;*/
    z-index: 100;
    left: 50%;
    right: 50%;
    font-family:'Raleway', 'Arial', sans-serif;
}
.gaf210codes_youtubebox,.preload_box{
    width:1px;
    height:1px;
    overflow:hidden;
    visibility:hidden;
    position:absolute;
    display:inline;
}

/**************************************************************************
============================  SECTION  ===================================
***************************************************************************/

.sectionTitle{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(220, 36, 31, 0.4)),url("images/mirror.jpg") no-repeat center center fixed;
    height: 400px;
}

h2.secText{
    font-family: Raleway, Arial, sans-serif;
    font-weight: 400;
}


h1.pageTitle{
    position: relative;
    top: 25%;
    text-align: center;
    font-size: 10em;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 300;
    color: #fff; /*rgba(90,52,89,1.0);*/
}

/*media query for MEDIUM SCREEN SIZES*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    h1.pageTitle{
        font-size: 5em;
    }
}


/*media query for SMALL SCREEN SIZES*/
@media screen and (max-width: 39.9375em) {
    h1.pageTitle{
        font-size: 3em;
    }
}


/****************************************
===============  THEGAME  ===============
*****************************************/

.features{
}

.featuresTitle {
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 300;
}

.features p {
    margin-bottom: 30px;

}

/****************************************
=============  THUMBNAILS  =============
*****************************************/
/*.thumbnail{*/
    /*-webkit-border-radius:50px;*/
    /*-moz-border-radius:50px;*/
    /*border-radius:50px;*/
/*}*/




/****************************************
=============  RACESTYRIA  =============
*****************************************/
.raceTabs{
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),url("images/RaceArt.jpg") no-repeat center center fixed;
    margin-bottom: 55px;
}

.sectionTyria h2{
    padding: 30px;
    text-align: center;
}

.tyriaDesc{
    text-align: center;
}

.tabs-content{
    margin-bottom: 10px;
}

.tabs-panel{
    /*background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("images/thornsbg.jpg") no-repeat center center fixed;*/
    align-items: center;
    width: 25em;
    margin: 0 auto;

}

.back{
    margin-top: 25%;
    padding: 15px;
}

/*padding for small screens*/
@media screen and (max-width: 39.9375em) {
    ul.tabs a {
        padding: 15px;
    }
}



/****************************************
============  PROFESSIONS  =============
*****************************************/

.prof{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.profLogo{
    height: 20%;
    width: 20%;
    top: 50%;
}

.profText{
    margin-right: 10px;
    margin-left: 10px;
}

.profTitle{
    font-family: Raleway, Arial, sans-serif;
    font-weight: 300;
}


.profDesc{
    margin-top: 40px;
    text-align: left;
}

.accordion-navigation{
    overflow-y: scroll;
    max-height: 500px;

}

.sectionTyria h5{
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    color: #881f0e;
}

.sectionTyria strong{
    font-family: Raleway;
    color: #330033;
}
/*************************************
============  CARD FLIP  =============
**************************************/

.flipContainer {
    height: 40em;
    width: 25em;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin: 0 auto;
}
.card {
    height: 40em;
    width: 25em;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card div {
    display: block;
    height: 90%;
    width: 90%;
    /*line-height: 260px;*/
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}


.card .back {
    background: #fff;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
/**************************************************************************
==============================  API  =====================================
***************************************************************************/
.ApiHome{
    background: url("images/caithebg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}


.apiContainer{
    position: relative;
    height: 70%;
    width: 50%;
    top: 15%;
    left: 25%;
    right: 25%;
    background-color: rgba(255, 255, 255, 0.5);
}

.apiRow{
    position: absolute;
    top: 5%;
    left: 10%;
    right: 30%;
    width: auto;
    display: block;
}

ul>.card{
    position: relative;
    height: 70px;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 2px;
    margin: 5px;
    display: table;
}


.card>.cardText{
    font-family: Raleway, Arial, sans-serif;
    display: table-cell;
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
}

/*!*media query for MEDIUM SCREEN SIZES*!*/
/*@media screen and (min-width: 40em) and (max-width: 63.9375em) {*/

/*}*/



.apiTabs{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    margin-bottom: 55px;
    width: auto;
    left: 20%;
    right: 20%;
    height: 800px;
}

.apiContainer {
    height: 40em;
    width: 25em;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin: 0 auto;
}

h1.apiTitle{
    position: relative;
    /*top: 25%;*/
    text-align: center;
    font-size: 6em;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 300;
    color: #000; /*rgba(90,52,89,1.0);*/
}

/*media query for SMALL SCREEN SIZES*/
@media screen and (max-width: 39.9375em) {
    ul>.card{
        position: relative;
        height: 40px;
        width: 250px;
        background-color: #fff;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        border-radius: 2px;
        margin: 5px;
        display: table;
    }
}

/**************************************************************************
=============================  ERROR  =====================================
***************************************************************************/

.error {
    position: relative;
    background: url("https://d3b4yo2b5lbfy.cloudfront.net/wp-content/uploads/wallpapers/DragonBash2-1920x1080.jpg") no-repeat center center fixed;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 18%;
}

.error > h1 {
    color: #fff;
    font-family:Raleway, Arial, sans-serif;
    font-weight: 400;
}

.error > form .loginInput{
    background: #fff;
    color: #000;
}