*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: #fff;
    max-width: 1920px;
	color: #60AE34;
	font-family: 'Raleway', 'Arial', sans-serif;
	text-rendering: optimizeLegibility;
    overflow: -moz-scrollbars-none;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/**************************************************************************
==============================  TEXT  =====================================
***************************************************************************/

h1, h2, h3, h4, p {
    margin: 0;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 300;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 30px;
    padding-bottom: 30px;
}

p{
    padding-left: 15px;
    padding-right: 15px;
}

/**************************************************************************
=============================  HEADER  ====================================
***************************************************************************/
.home{
    /*background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/thornsbg.png") no-repeat center center fixed;*/
    background: url("images/thornsbg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    height: 100vh;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}


/**************************************************************************
========================  REUSABLE CONTENT  ===============================
***************************************************************************/

i{
    color: #C41907;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}


/*******************************************
================  HERO IMG  ================
********************************************/

img.heroImg{
    position: absolute;
    max-width: 30%;
    min-width: 30%;
    top: 10%;
    left: 10%;
    z-index: 3;
    opacity: 1.0;
}

img.heroImg:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


@media screen and (orientation: portrait) {
    img.heroImg { max-width: 90%; }
}

@media screen and (orientation: landscape) {
    img.heroImg { max-height: 90%; }
}

/****************************************
================  LOGIN  ================
*****************************************/

.login{
    position: absolute;
    display: block;
    float: right;
    max-width: 600px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    margin-right: 30px;
    z-index: 3;
    background: rgba(255,255,255,0.1);
    border-radius: 3px;
    opacity: 1.0;
}

.login> .loginInput{
    display: inline;
    width: 150px;
    height: 30px;
    background: transparent;
    border-bottom: 2px solid rgba(255,255,255,0.6);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: rgba(255,255,255,1.0);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-right: 0;
    box-shadow: none;
    z-index: 3;
    opacity: 1.0;
}

.login > input[placeholder="text"] {color:black}

.login > .loginInput:focus{
    background: transparent;
    border-bottom: 3px solid rgba(187,244,113,1.0);
}

.login > .submit{
    cursor: pointer;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
}

.login > i{
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

/**************************************************************************
============================  SECTION  ===================================
***************************************************************************/

.sectionTitle{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("images/mirror.jpg") no-repeat center center fixed;
    height: 400px;
}

h1.pageTitle{
    position: relative;
    top: 25%;
    text-align: center;
    font-size: 80px;
    color: #C41907; /*rgba(90,52,89,1.0);*/
}


/****************************************
===============  THEGAME  ===============
*****************************************/

.features{
}

.featuresTitle {
    text-align: center;
}

.features p {
    margin-bottom: 30px;

}


/****************************************
=============  RACESTYRIA  =============
*****************************************/

.sectionTyria h2{
    padding: 30px;
    text-align: center;
}


.raceimg {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    position: relative;
    height: auto;
    width: auto;
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    margin-bottom: 20px;
}

.tyriaDesc{
    text-align: center;
}

/*.race   {  background:rgba(0,0,0,.75);*/
    /*text-align:center;*/
    /*padding:45px 0 66px 0;*/
    /*opacity:0;*/
    /*-webkit-transition: opacity .25s ease;*/
    /*-moz-transition: opacity .25s ease;}*/

/*.row:hover .raceimg {*/
    /*opacity:1;}*/


/****************************************
============  PROFFESSIONS  =============
*****************************************/

.prof{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.profLogo{
    height: 20%;
    width: 20%;
    top: 50%;
}


.profDesc{
    margin-top: 40px;
    text-align: left;
}

.accordion-navigation{
    overflow-y: scroll;
    max-height: 500px;

}

.sectionTyria h5{
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    color: #881f0e;
}

.sectionTyria strong{
    font-family: Raleway;
    color: #330033;
}